:root {
  --pink:#F86379;
  --black:#202346;
  --white:#ffffff;
  --overlay-color: rgba(24, 39, 51 , 0.85);
  --menu-speed: 0.75s;
}

body {
  background: var(--black);
  color: #333333;
  margin-top: 5rem;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

h1{
	color:var(--pink);
  text-align: center;
}

p{
  color: var(--white);
}

/* start home */
#home{
  background: url('../images/home.jpg') 100% 100% no-repeat;
  background-size: cover;
  padding-top: 250px;
  min-height: 650px;
}

#home h1{
  font-weight: 300;
  font-size: 70px;
  padding-bottom: 10px;
}

.secondaryHeading{
  color: 
}

.element {
  height: 60px;
  font-size: 22px;
  font-weight: bold;
  color: var(--white);
}

@media only screen and (max-width: 600px) {
  #home{
    background: url('../images/home.jpg') 100% 100% no-repeat;
    background-size: cover;
    padding-top: 100px;
    min-height: 450px;
  }

  .homeContent{
    margin-bottom: 300px;
    text-align: center;
  }

  .sub-elemet{
    text-align: center;
  }
}

/* end home */


        /*Upper container styling starts here */

.upperContainer{
  display: inline-block;
  width: 100%;
  margin-top: 30px;
}

.upperContainer h1{
  text-decoration: underline;
}

        
        /*Route planner styling start*/
.stoptextbox{
  text-align: center;
  border:none;
  background-color: var(--black);
  border-bottom: 3px solid var(--pink);
  color:var(--white);
  margin-bottom: 20px;
  width:80%;
  text-decoration: none;
  font-size: 28px;
  margin-top: 10px;
}

::-webkit-input-placeholder { /* Edge */
  color: var(--white);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--white);
}

::placeholder {
  color: var(--white);
}


.routePlanForm{
  text-align: center;
}

.addressBox{
  width:100%;
}

.routePlanButton{
  width: 50%;
  height: 45px;
  background-color: var(--pink);
  color: var(--white);
  text-decoration: none;
  border: 1px solid var(--pink);
  border-radius: 5px;
}

.routePlanResults{
  
}

@media only screen and (max-width: 600px) {
  #planRouteSectionContainter{
    margin-top: 80px;
  }

  .routePlanForm{
    text-align: center;
    margin-top: 30px; 
  }
}

        
        /*Map styling starts here */

#map{
  height: 600px;
  width: 90%;
  align-self: center;
}

#mapSectionContainer{
  display: inline-block;
  float: right;
  vertical-align:top;
}

.mapContainer{
  align-content: center;
  margin-left: 10%;
}

.mapForm{
  text-align: center;
}

.maptextbox{
  text-align: center;
  border:none;
  background-color: var(--black);
  border-bottom: 3px solid var(--pink);
  color:var(--white);
  margin-bottom: 20px;
  width:60%;
  text-decoration: none;
  font-size: 24px;
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  #map {
    width: 100%;
    height: 400px;
  }

  .mapContainer{
    width: 100%;
    height: 400px;
    margin-left: 0%;
  }

  .maptextbox{
  text-align: center;
  border:none;
  background-color: var(--black);
  border-bottom: 3px solid var(--pink);
  color:var(--white);
  margin-bottom: 20px;
  width:60%;
  text-decoration: none;
  font-size: 13px;
  margin-top: 10px;
}
}

/*Map styling ends here */
/*Loader start (Taken from: https://projects.lukehaas.me/css-loaders/) */

.spinner {
  width: 10px;
  height: 10px;
  margin: 30px 20px 30px 20px;
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
}

.double-bounce1, .double-bounce2 {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: #28A7E9 ;
  opacity: 0.6;
  position: absolute;
  align-self: center;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/*Loader end*/




/*Menu Testing */
/* CORE STYLES */

.btn {
  display: inline-block;
  border: none;
  background: var(--white);
  color: var(--black);
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: opacity 1s ease-in-out;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.7;
}

/* MENU STYLES */
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: #0D0E12;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

.hamburger{
  position: relative;
  top:0;
}

