:root {
  --darkblue:#3d5a80;
  --lightgrey:#98c1d9;
  --lightblue:#e0fbfc;
  --orange:#ee6c4d;
  --black:#293241;
  --white:#ffffff;
}

body {
  background: var(--white);
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: var(--lightgrey);
}

.site-header .navbar-nav .nav-link {
  color: var(--black);
}

.site-header .navbar-nav .nav-link:hover {
  color: var(--white);
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

h1{
	color:green;
}

h3{
  color: #3ABEFF;
}

#map{
  height: 400px;
  width: 100%;
}