{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}	



<div style="width: 100%;">
<div id="mapContainer" style="width: 600px; float: left;">
	<div id="map"></div>
</div>
<div style="margin-left: 620px;" id="planRouteContainter">
		<form id="predict_form">
			{% csrf_token %}
			{{ form|crispy }}
			<button type="submit" class="btn btn-primary" id="predict_btn">Predict Route</button>
		</form>
</div>
</div>
<div class="custom-select" style="width:200px;">
		<select id="line_select" value="Select Line">
	
		</select>
	</div>
	
<div>
<div>
	<p id="journey_info"></p>
</div>
<div id="co2Container">
	{% if schedule_times %}
	<br><br>
	<h1>Schedule Times</h1>
	{% for st in schedule_times %}
	<p>{{ st }}</p>
	{% endfor %}
	{% endif %}
</div>
</div>


<!-- Adding Axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!--Below passing current user, used for the adding of favourite stops-->
<script type="text/javascript">var context = {current_user: '{{current_user}}'};</script>
<!--Map related scripts-->
<script type="text/javascript" src="{% static 'js/mapStyle.js' %}"></script>
<script type="text/javascript" src="{% static 'js/route_predict.js' %}"></script>
<script type="text/javascript" src="{% static 'js/static_stops.js' %}"></script>
<script type="text/javascript" src="{% static 'js/distinct_lines.js' %}"></script>
<script type="text/javascript" src="{% static 'js/map.js' %}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTqQ5XI6Z3N5j26PNXbFKUxUFfq8dnGV8&callback=initMap"></script>

{% endblock content %}