{% extends "base.html" %}
{% load static %}
{% block content %}	
<!DOCTYPE html>
<html>
<head>
	<title>Dublin Bus - Home</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>

<div id="planRouteContainter">
</div>

<div id="mapContainer">
	<div id="map"></div>
</div>

<div id="co2Container">
</div>


<!--Map related scripts-->
<script type="text/javascript" src="{% static 'js/mapStyle.js' %}"></script>
<script type="text/javascript" src="{% static 'js/static_stops.js' %}"></script>
<script type="text/javascript" src="{% static 'js/map.js' %}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTqQ5XI6Z3N5j26PNXbFKUxUFfq8dnGV8&callback=initMap"></script>
<!--Below is an example of passing current user-->
<script type="text/javascript">var context = {current_user: '{{current_user}}'};</script>
</body>
</html>
{% endblock content %}